.jumbotron
{
    background-color: #204d74;


}

h2 {
    color: #f8fff9;
    text-align: center;
}

#m2Txta
{
    overflow:auto;
    resize:none;

}

#inputPxH
{
    color: #269a0b;
}

#resultados
{
    visibility: hidden;

}

#tablaTitulo {
    color: #313f9a;
}

#divBtnMG {
    margin-top: 20px;
}
#canvasFirma
{
    visibility: hidden;
}