.jumbotron
{
    background-color: #204d74;

}
h2
{
    color: #ffffff;
}
textarea[id="m2Txta"]
{
    overflow:auto;
    resize:none;

}

#inputPxH
{
    color: #269a0b;
}

#resultados
{
    visibility: hidden;

}

#tablaTitulo {
    color: #313f9a;
}
